* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    line-height: 1;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: url(images/category-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 50px 20px;
    
}

ul li a {
    color: white;
    font-size: 1.1em;
    text-shadow: 1px 1px 5px black;
    transition: 1s;
}
ul li a i {
    margin: 0 5px 0 0;
}

.card {
    border-radius: 10px;
    /* border: 1px solid #fff; */
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 1px 1px 10px #fff;
    transition: 1s;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card a {
    color: #57ecbd;
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    transition: 1s;
}

footer p {
    margin: 40px 0 20px 0;
    color: white;
    font-size: .8em;
    text-shadow: 1px 1px 1px black;
    font-weight: 400;
}

a:hover {
    color: #777;
}
.card:hover {
    transform: scale(120%);
}
.card a:hover {
    color: gold;
}


@media only screen and (min-width: 768px) {
    header li a {
        font-size: 1.5em;
    }

    .card {
        width: 20%;
        display: inline-block;
        margin: 60px 20px;
    }


    footer p {  
        margin-top: 210px;
        font-size: 1.2em;
    }
}